{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:astro/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "prettier"
  ],
  "plugins": ["@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "globals": {},
  "rules": {},
  "overrides": [
    {
      "files": ["*.astro"],
      "parser": "astro-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "extraFileExtensions": [".astro"]
      },
      "rules": {
        // override/add rules settings here, such as:
        // "astro/no-set-html-directive": "error"
      },
      "globals": { "astroHTML": true }
    },
    {
      "files": ["*.vue"],
      "extends": [
        "plugin:vue/vue3-recommended",
        "eslint:recommended",
        "@vue/typescript/recommended",
        "@vue/eslint-config-prettier"
      ],
      "plugins": ["vue", "@typescript-eslint"]
    }
  ]
}
