{
    "extends": [
        "stylelint-config-html",
        "stylelint-config-standard",
        "stylelint-config-standard-scss",
        "stylelint-config-recess-order"
    ],
    "customSyntax": "postcss-html",
    "rules": {
        "selector-pseudo-class-no-unknown": [
            true,
            {
                "ignorePseudoClasses": [
                    "global"
                ]
            }
        ],
        "no-invalid-position-at-import-rule": null,
        "at-rule-no-unknown": [
            true,
            {
                "ignoreAtRules": [
                    "mixin",
                    "include",
                    "extend",
                    "function",
                    "return"
                ]
            }
        ],
        "no-empty-source": null,
        "scss/at-function-pattern": null,
        "scss/at-mixin-pattern": null
    }
}