.title {
  position: relative;
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 3px;
  margin-bottom: 56px;
  font-size: 8rem;
  line-height: 1;
  @include ff-gill-nova;

  &::before {
    position: absolute;
    top: 0;
    left: calc(-100vw + 8rem * 1.56);
    z-index: -1;
    width: 100vw;
    height: 100%;
    content: '';
    background: white;

    @include mq-down(sm) {
      left: calc(-100vw + get_vw(60) * 1.56);
    }
  }

  @include mq-down(sm) {
    margin-top: get_vw(14);
    margin-bottom: get_vw(60);
    font-size: get_vw(60);
  }

  &__secondary {
    display: block;
    margin-top: 4px;
    margin-right: 3px;
    font-size: 1.6rem;
    text-align: right;

    @include mq-down(sm) {
      font-size: get_vw(16);
    }
  }
}

.portfolios {
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin-bottom: 60px;
  border-top: 5px solid white;
  border-left: 5px solid white;

  @include mq-down(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  &::before {
    position: absolute;
    top: calc(50% - 2.5px);
    right: 5px;
    left: 0;
    z-index: 2;
    width: 0;
    margin: 0 auto;
    margin-top: -2px;
    overflow: hidden;
    font-size: 6rem;
    color: $red;
    text-align: center;
    white-space: nowrap;
    pointer-events: none;
    content: 'MY PORTFOLIO';
    opacity: 0;
    transition: width 0.6s cubic-bezier(0.44, 0.04, 0.89, 0.04) 0.1s,
      opacity 0.6s cubic-bezier(0.44, 0.04, 0.89, 0.04) 0.1s;
    transform: translateY(-50%);
    @include ff-gill-inline;

    @include mq-down(sm) {
      top: 0;
      margin-top: -1px;
      font-size: get_vw(30);
      transform: translateY(-50%);
    }
  }

  &:global(.intersected)::before {
    width: calc(100% - 30px);
    opacity: 1;
  }

  &::after {
    position: absolute;
    top: calc(50% - 2.5px);
    right: 5px;
    left: 0;
    z-index: 1;
    width: calc(100% - 30px);
    height: 1em;
    margin: 0 auto;
    font-size: 6rem;
    color: $red;
    pointer-events: none;
    content: '';
    background: white;
    transform: translateY(-50%);

    @include mq-down(sm) {
      top: 0;
      font-size: get_vw(30);
      transform: translateY(-50%);
    }
  }
}

.portfolio {
  width: 100%;
  overflow: hidden;
  border-right: 5px solid white;
  border-bottom: 5px solid white;

  &__thumbnail {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__thumbnail :global(img) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
  }

  &:hover {
    .portfolio__thumbnail :global(img) {
      transform: scale(1.2);
    }
  }
}
