%finger {
  display: block;
  width: 140px;
  height: 70px;
  margin-left: 8px;
  content: '';
  transition: transform 0.2s $transition-function-comical;
  background: {
    image: url('/img/finger.png');
    size: contain;
  }

  @include mq-down(sm) {
    width: min(get_vw(140), 140px);
    height: min(get_vw(70), 70px);
  }
}

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  line-height: 1;
  color: white;
  @include ff-gill-inline;
  @include mq-down(sm) {
    font-size: get_vw(40);
  }

  &::after {
    @extend %finger;
  }

  &:hover {
    &::after {
      transform: rotateZ(-6deg);
    }
  }
}
