---
import CardArticle from '@components/CardArticle.astro'
import type { PostList } from '@data/getPostList'
import postList from '@data/posts.json'
import Layout from '@layouts/Layout.astro'

import { GetStaticPaths, Page } from 'astro'

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const posts = postList as PostList
  return paginate(posts, { pageSize: 5 })
}

const { data: posts, currentPage } = Astro.props.page as Page<PostList[number]>
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="title">
      <h2 class="section title__tag">Articles {currentPage}</h2>
    </div>
    {
      posts.map((post, i) => (
        <li class="list__item">
          <CardArticle post={post} odd={i % 2 !== 0} />
        </li>
      ))
    }
  </main>
</Layout>

<style lang="scss">
  .title {
    position: relative;
    color: white;
    background: $green;

    &__tag {
      font-size: 8rem;
      @include ff-gill-inline;

      color: white;

      @include mq-down(sm) {
        font-size: get_vw(40);
      }
    }

    &::after {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -2;
      width: 105vw;
      height: 100%;
      content: '';
      background: $darkgreen;
      transform: translateX(-50%) rotateZ(3deg);
      transform-origin: center center;
    }
  }

  .list {
    &__item {
      padding-top: 90px;
    }

    padding-bottom: 15px;
  }
</style>
