---
import ArticleCard from '@/components/ArticleCard'
import ArticleList from '@/components/ArticleList'
import PageTitle from '@/components/PageTitle'
import Pagination from '@/components/Pagination'
import postsData from '@/data/posts.json'
import type { PostList } from '@/integrations/getPostList'
import Layout from '@/layouts/Layout.astro'

import type { GetStaticPaths, Page } from 'astro'

/**
 * pagination & 記事一覧取得
 */
export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  return paginate(postsData, { pageSize: 5 })
}

const {
  data: articleList,
  currentPage,
  lastPage,
} = Astro.props.page as Page<PostList[number]>
---

<Layout title={`ブログ記事一覧 ${currentPage}ページ目`}>
  <main>
    <PageTitle className={'section'} secondaryTitle={`Page ${currentPage}`}>
      Articles</PageTitle
    >
    <ArticleList className={'section'}>
      {
        articleList.map((post, i) => (
          <ArticleList.Item>
            <ArticleCard
              {...post}
              mode={
                i % 2 !== 0 ? 'reverse' : undefined // 偶数番目の記事は画像を右側に表示
              }
            />
          </ArticleList.Item>
        ))
      }
    </ArticleList>
    <Pagination
      rootPath="/blog/"
      current={currentPage}
      totalCount={lastPage}
      className={'section pagination'}
    />
  </main>
</Layout>

<style lang="scss">
  .pagination {
    padding-top: 90px;
  }
</style>
