.body {
  position: relative;
  padding-top: 30px;
  padding-bottom: 75px;
  margin-top: 60px;
  font-weight: normal;
  color: white;

  @include mq-down(sm) {
    margin-top: 30px;
  }

  &::after {
    position: absolute;
    top: -60px;
    left: 15px;
    z-index: -2;
    width: 30%;
    height: calc(60px + 100%);
    content: '';
    background: $red;

    @include mq-down(sm) {
      top: -30px;
      height: calc(30px + 100%);
    }
  }

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    display: block;
    width: 100vw;
    height: calc(100% - 30px);
    content: '';
    background: $black;
    translate: -50%;
  }

  &::first-letter {
    font-size: 4rem;
  }
}
