h1,
h2 {
  color: white;
  position: relative;
  z-index: 0;
  padding: 15px 0;
  font-size: 4rem;
  margin-top: 80px;
  margin-bottom: 40px;

  &:first-child {
    margin-top: 0;
  }

  &:after {
    content: '';
    width: 0;
    height: 130%;
    border-top: 1em solid transparent;
    border-right: 110vw solid $green;
    border-bottom: 1em solid transparent;
    border-left: 0 solid transparent;

    position: absolute;
    top: 50%;
    left: calc((110vw - #{$pc-width}) / 2 * -1);
    transform: translateY(-50%);
    // background: $green;
    z-index: -1;

    @include mq-down(max) {
      left: -15px;
      height: 110%;
      border-top: 0.6em solid transparent;
      border-bottom: 0.6em solid transparent;
    }
  }

  @include mq-down(sm) {
    font-size: get_vw(20);
  }
}

h3 {
  color: white;
  font-size: 2.5rem;
  padding: 15px 15px 15px 0;
  margin-top: 80px;
  margin-bottom: 40px;
  position: relative;
  z-index: 0;
  display: inline-block;
  background: $black;

  &:after {
    content: '';
    width: calc((105vw - #{$pc-width}) / 2);
    height: 100%;
    position: absolute;
    background: $black;
    left: calc((105vw - #{$pc-width}) / 2 * -1);
    top: 0;
    z-index: -1;

    @include mq-down(max) {
      width: 15px;
      left: -15px;
    }
  }

  @include mq-down(sm) {
    font-size: get_vw(18);
  }
}

h4,
h5,
h6 {
  position: relative;
  display: table;
  padding-bottom: calc(5px + 40px);
  font-size: 2rem;

  &:after {
    content: '';
    position: absolute;
    width: calc(100% + 15px);
    height: 5px;
    left: -15px;
    bottom: 40px;
    background: $red;
  }

  @include mq-down(sm) {
    font-size: get_vw(16);
  }
}

h1 + h3,
h2 + h3 {
  margin-top: 0;
}

*:not(h1, h2, h3, h4, h5, h6) {
  font-weight: initial;
}

a {
  color: darken($red, 3%);
  text-decoration: underline;
}

p {
  padding-bottom: 30px;

  > br:first-child {
    display: none;
  }
}

blockquote {
  background: Gainsboro;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 30px;

  @include mq-down(sm) {
    padding: get_vw(15);
  }
}

pre {
  border: 2px solid #e2e2e2;
  padding: 30px;
  margin-bottom: 30px;
  overflow: auto;
  word-wrap: normal;
  background: $black;
  color: white;

  @include mq-down(sm) {
    marign-top: get_vw(50);
    border: 1px solid #e2e2e2;
    border-left: 12px solid #e2e2e2;
    padding: get_vw(15);
  }

  code {
    @include ff-code();

    @include mq-down(sm) {
      font-size: get_vw(12);
      font-weight: bold;
    }
  }
}

> ul {
  list-style: disc;
  padding-bottom: 30px;
  padding-left: 2.5rem;

  @include mq-down(sm) {
    padding-top: get_vw(50);
    padding-left: 2.2rem;
  }

  > li {
    line-height: 2;
  }
}

> ol {
  @extend ul;
  list-style: upper-roman;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

iframe {
  max-width: 100%;
  min-width: initial !important;
}

picture {
  white-space: normal;
}
