/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * gill-sans-nova:
 *   - http://typekit.com/eulas/00000000000000003b9b1f84
 * gill-sans-nova-inline:
 *   - http://typekit.com/eulas/00000000000000003b9b1fa1
 *
 * © 2009-2020 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2019-12-01 05:29:06 UTC"}*/

@import url('https://p.typekit.net/p.css?s=1&k=hff0ywi&ht=tk&f=39300.39329&a=15773265&app=typekit&e=css');

@font-face {
  font-family: 'gill-sans-nova';
  src: url('https://use.typekit.net/af/e7f63a/00000000000000003b9b1f84/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/e7f63a/00000000000000003b9b1f84/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3')
      format('woff'),
    url('https://use.typekit.net/af/e7f63a/00000000000000003b9b1f84/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'gill-sans-nova-inline';
  src: url('https://use.typekit.net/af/71087b/00000000000000003b9b1fa1/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/71087b/00000000000000003b9b1fa1/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/71087b/00000000000000003b9b1fa1/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 700;
}

.tk-gill-sans-nova {
  font-family: 'gill-sans-nova', sans-serif;
}
.tk-gill-sans-nova-inline {
  font-family: 'gill-sans-nova-inline', sans-serif;
}
