---
import TopBlog from '@/components/TopBlog'
import TopHero from '@/components/TopHero'
import TopProfile from '@/components/TopProfile'
import TopSkills from '@/components/TopSkills'
import TopWorks from '@/components/TopWorks'
import postsData from '@/data/posts.json'
import type { PostList } from '@/integrations/getPostList'
import Layout from '@/layouts/Layout.astro'
import { getPortfolioList, getProfile, getSkillList } from '@/libs/microcms'

const [portfolios, profile, skills] = await Promise.all([
  getPortfolioList(),
  getProfile(),
  getSkillList(),
])

const latestPosts = (postsData as PostList).slice(0, 5)
---

<script>
  import { topHeroTextAnimation } from '@/scripts/topHeroTextAnimation'

  topHeroTextAnimation()
</script>

<Layout title="Welcome to Astro.">
  <main>
    <TopHero className={'section'} />
    <TopWorks className={'section'} portfolios={portfolios} />
    <TopProfile className={'section'} {...profile} text={profile.content} />
    <TopSkills className={'section'} skills={skills} />
    <TopBlog posts={latestPosts} className={'section'} />
  </main>
</Layout>
