---
import TopHero from '@/components/TopHero'
import TopProfile from '@/components/TopProfile'
import TopWorks from '@/components/TopWorks'
import Layout from '@/layouts/Layout.astro'
import { getPortfolioList, getProfile, getSkillList } from '@/libs/microcms'

const [portfolios, profile] = await Promise.all([
  getPortfolioList(),
  getProfile(),
  getSkillList(),
])
---

<script>
  import { topHeroTextAnimation } from '@/scripts/topHeroTextAnimation'

  topHeroTextAnimation()
</script>

<Layout title="Welcome to Astro.">
  <main>
    <TopHero className={'section'} />
    <TopWorks className={'section'} portfolios={portfolios} />
    <TopProfile {...profile} text={profile.content} />
  </main>
</Layout>
