---
import TheNavigation from '@components/TheNavigation.astro'

export interface Props extends astroHTML.JSX.HTMLAttributes {}
const { class: className } = Astro.props as Props
---

<header id="top" class={`header ${className}`}>
  <div class="logos">
    <img
      src="/img/logo.svg"
      class="logos__1"
      alt=""
      width="556.719"
      height="100.714"
    />
    <img
      src="/img/logo.svg"
      class="logos__2"
      alt=""
      width="556.719"
      height="100.714"
    />
    <img
      src="/img/logo.svg"
      class="logos__3"
      alt=""
      width="556.719"
      height="100.714"
    />
    <h1>
      <img
        src="/img/logo.svg"
        class="logos__main"
        alt="ふくいのふ"
        width="556.719"
        height="100.714"
      />
    </h1>
  </div>
  <div class="description">
    <div class="description__mask"></div>
    <h2 class="description__text">WEB ENGINEER</h2>
  </div>
  <TheNavigation class="the-navigation" />
</header>

<style lang="scss">
  .header {
    transform: translateY(-100%) translateY(95px) rotateZ(-15deg);
    transform-origin: right calc(100% - 45px - 50px);

    @include mq-down(md) {
      transform: translateY(calc(-75% + 45px + 50px)) rotateZ(-15deg);
    }
  }

  .logos {
    position: relative;
    padding: 15px;
    background: $red;

    @include mq-down(md) {
      &::after {
        position: absolute;
        top: 0;
        left: 99%;
        width: 100%;
        height: 100%;
        content: '';
        background: $red;
      }
    }

    &__1,
    &__2,
    &__3,
    &__main {
      display: block;
      max-width: 100%;
      height: auto;
      margin-top: 5px;
      transform-origin: left top;
    }

    &__1 {
      // ２番めも移動しているので、２番めの移動量も足す必要がある（60% + 60%）
      transform: translateY(120%) scale(0.4);

      // @include mq-down(md) {
      //   transform: translateY(160%) scale(0.3);
      // }
    }

    &__2 {
      transform: translateY(60%) scale(0.6);

      // @include mq-down(md) {
      //   transform: translateY(100%) scale(0.4);
      // }
    }

    &__3 {
      transform: translateY(20%) scale(0.8);

      // @include mq-down(md) {
      //   transform: translateY(50%) scale(0.6);
      // }
    }
  }

  .description {
    display: flex;
    width: calc(100% - 12.057px);
    height: 45px;
    padding-top: 15px;

    @include mq-down(md) {
      height: 40px;
    }

    @include mq-down(sm) {
      height: get_vw(40);
    }

    &__mask {
      flex: 1 1 0%;
      width: 100%;
      background: $black;
    }

    &__text {
      @include ff-gill-inline;

      padding: 0 15px;
      font-size: 3rem;

      @include lhCrop;

      @include mq-down(md) {
        font-size: 2.5rem;
      }

      @include mq-down(sm) {
        padding: 0 get_vw(15);
        font-size: get_vw(25);
      }
    }
  }

  .the-navigation {
    width: calc(100% - 34px);
    height: 50px;
    padding-top: 15px;

    @include mq-down(sm) {
      display: none;
    }
  }
</style>
