---
import { getNavigationList } from '@libs/microcms'

export interface Props extends astroHTML.JSX.HTMLAttributes {
  showTopButton?: boolean
}

const { contents: navigationList } = await getNavigationList

const currentPath = Astro.url.pathname
const { showTopButton = false, class: className } = Astro.props as Props
const menuItems =
  currentPath === '/' && !showTopButton
    ? navigationList.filter((item) => {
        return item.href !== '/'
      })
    : navigationList

const isExternalURL = (url: string) => {
  return url.startsWith('http://') || url.startsWith('https://')
}
---

<nav>
  <ul class={`list ${className}`}>
    {
      menuItems.map((item, index) => {
        return (
          <li class="list__item" style={`animation-delay:${index * 0.1}s`}>
            <a
              href={item.href}
              target={isExternalURL(item.href) ? '_blank' : undefined}
              rel="noopener"
              class="list__link"
            >
              {item.name}
              {isExternalURL(item.href) && (
                <img
                  src="/img/external.svg"
                  class="list__external"
                  alt=""
                  width="512"
                  height="512"
                />
              )}
            </a>
          </li>
        )
      })
    }
  </ul>
</nav>

<style lang="scss">
  // _:fullscreen,
  // :root {
  //   .list__link {
  //     padding-top: 5px;
  //   }

  //   .list__external {
  //     padding-bottom: 5px;
  //   }
  // }

  .list {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;

    @include mq-down(sm) {
      display: block;
      margin: get_vw(-10);
    }

    &__item {
      @keyframes slide-in {
        0% {
          opacity: 0;
          transform: translateY(-15px);
        }

        80% {
          opacity: 1;
          transform: translateY(4px);
        }

        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }

      margin: 5px;
      font-family: $ff-bl;
      font-size: 2rem;
      font-weight: bold;
      color: white;
      background: $black;
      transition: background-color 0.2s;
      animation: slide-in 0.2s steps(5, start) 1 normal both;

      // &:last-child {
      //   margin-right: 0;
      // }

      &:hover {
        background: $red;
      }

      @include mq-down(sm) {
        margin: get_vw(10);
        font-size: get_vw(24);
      }
    }

    &__link {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 0 5px;

      @include mq-down(sm) {
        padding: get_vw(10) get_vw(15);
      }
    }

    &__external {
      width: 16px;
      height: auto;
      margin-left: 5px;

      @include mq-down(sm) {
        width: get_vw(16);
        margin-left: get_vw(5);
      }
    }
  }
</style>
