---
import ButtonMore from '@components/ButtonMore.astro'
import CardArticle, {
  Props as CardArticleProps,
} from '@components/CardArticle.astro'

export interface Props extends astroHTML.JSX.HTMLAttributes {
  posts: CardArticleProps['post'][]
}
const { class: className, posts } = Astro.props as Props
---

<section id="blog" class={`blog ${className}`}>
  <div class="section">
    <div class="blog__inner">
      <div class="blog__left">
        <h2 class="blog__title">BLOG</h2>
      </div>
      <ul class="blog__list">
        {
          posts.map((post) => (
            <li class="blog__item">
              <CardArticle post={post} mini odd class="card-article" />
            </li>
          ))
        }
      </ul>
    </div>
    <div class="button-more">
      <a href="/blog/">
        <ButtonMore />
      </a>
    </div>
  </div>
</section>

<style lang="scss">
  @use 'sass:color';

  .blog {
    padding: 120px 0;
    background: $red;

    @include mq-down(sm) {
      padding: get_vw(60) 0;
    }

    &__inner {
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;
    }

    &__left {
      padding-right: 5px;
    }

    &__title {
      width: 8rem;
      height: 3.5em;
      margin-top: -5px;
      font-size: 8rem;
      color: white;
      writing-mode: vertical-rl;
      @include ff-gill-nova;

      &::before {
        display: block;
        width: 0;
        height: 0;
        margin-right: calc((1 - 1.7) * 0.5em);
        content: '';
      }

      &::after {
        display: block;
        width: 0;
        height: 0;
        margin-left: calc((1 - 1.7) * 0.5em);
        content: '';
      }

      @include mq-down(sm) {
        width: get_vw(60);
        margin-top: get_vw(-4);
        font-size: get_vw(60);
      }
    }

    &__list {
      width: 100%;
    }

    &__item {
      padding-bottom: 30px;

      @include mq-down(md) {
        padding-bottom: 50px;
      }
    }
  }

  .card-article {
    :global(.post__date) {
      font-size: 1.5rem;
      color: white;
    }

    :global(.post__title::after) {
      background: color.adjust($red, $lightness: -15%);
    }
  }

  //   &__list {
  //     width: 100%;
  //     display: flex;
  //     flex-wrap: wrap;
  //     pointer-events: none;
  //     flex: 1 1 0%;

  //     &:hover {
  //       .blog__item {
  //         transform: scale(0.95);
  //         opacity: 0.3;
  //       }
  //     }
  //   }

  //   &__item {
  //     width: 33.3%;
  //     pointer-events: auto;
  //     z-index: auto;
  //     transition: transform 0.1s ease-in, opacity 0.1s ease-in,
  //       box-shadow 0.1s ease-in;
  //     transform-origin: center center;

  //     @include mq-down(sm) {
  //       width: 100%;
  //       margin-bottom: 15px;
  //     }

  //     &:hover {
  //       transform: scale(1.05) !important;
  //       opacity: 1 !important;
  //       z-index: 5;
  //       box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.4);
  //     }

  //     &:active {
  //       transform: scale(1) !important;
  //       box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
  //     }
  //   }
  // }

  // .post {
  //   width: 100%;
  //   display: block;
  //   position: relative;
  //   background: {
  //     size: cover;
  //   }

  //   &:before {
  //     content: '';
  //     display: block;
  //     padding-top: 100%;

  //     @include mq-down(sm) {
  //       padding-top: 62.1%;
  //     }
  //   }

  //   &:after {
  //     content: '';
  //     background: linear-gradient(
  //       rgba(0, 0, 0, 0) 0%,
  //       rgba(0, 0, 0, 0) 10%,
  //       rgba(0, 0, 0, 0.5) 60%,
  //       rgba(0, 0, 0, 0.8) 100%
  //     );
  //     width: 100%;
  //     height: 100%;
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     z-index: 0;

  //     @include mq-down(sm) {
  //       content: none;
  //     }
  //   }

  //   &__img {
  //     width: 100%;
  //     height: 100%;
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     object-fit: cover;
  //   }

  //   &__title {
  //     position: absolute;
  //     bottom: 0;
  //     z-index: 1;
  //     color: white;
  //     padding: 10px 15px;

  //     @include mq-down(sm) {
  //       background: rgba(0, 0, 0, 0.6);
  //     }
  //   }
  // }

  .button-more {
    margin-top: 15px;
    text-align: right;
  }
</style>
