---
import { Picture } from '@astrojs/image/components'

export interface Props extends astroHTML.JSX.HTMLAttributes {
  portfolio: {
    id: string
    thumbnail?: {
      url: string
    }
    title?: string
  }[]
}
const { class: className, portfolio } = Astro.props as Props
---

<section id="portfolio" class={`works section clearfix ${className}`}>
  <h2 class="works__title">
    WORKS<span class="works__subtitle">制作したサイトなど</span>
  </h2>
  <ul class="portfolio">
    {portfolio.map((item) => (
      <li class="portfolio__item">
        <a href={`/portfolio/${item.id}/`} class="portfolio__link">
          {item.thumbnail && (
            <Picture
              src={item.thumbnail.url}
              widths={[200, 250, 300, 600]}
              sizes="(max-width: 575px) 50vw, 300px"
              aspectRatio="1:1"
              alt={item.title || ''}
              class="portfolio__thumbnail"
            />
          )}
        </a>
      </li>
    ))}
  </ul>
</section>

<style lang="scss">
  .works {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: calc((100vw - #{$pc-width}) / 2 * -1);
      z-index: -1;
      width: calc((100vw - #{$pc-width}) / 2 + 1.75em);
      height: calc(2em + (1 - #{$line-height}) * 0.5em);
      font-size: 8rem;
      content: '';
      background: white;

      @include mq-down(max) {
        left: 0;
        width: 1.75em;
      }

      @include mq-down(sm) {
        right: 71.5vw;
        left: auto;
        width: 28.5vw;
        font-size: get_vw(60);
      }
    }

    &__title {
      display: inline-block;
      margin-top: 20px;
      margin-bottom: 60px;
      font-size: 8rem;
      line-height: 1;
      @include ff-gill-nova;

      @include mq-down(sm) {
        margin-top: get_vw(14);
        margin-bottom: get_vw(60);
        font-size: get_vw(60);
      }
    }

    &__subtitle {
      display: block;
      margin-top: 4px;
      margin-right: 3px;
      font-size: 1.6rem;
      text-align: right;

      @include mq-down(sm) {
        font-size: get_vw(16);
      }
    }
  }

  .portfolio {
    position: relative;
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 60px;
    border-top: 5px solid white;
    border-left: 5px solid white;

    &.intersected::before {
      width: calc(100% - 30px);
      opacity: 1;
    }

    &::before {
      position: absolute;
      top: calc(50% - 2.5px);
      right: 5px;
      left: 0;
      z-index: 2;
      width: 0;
      margin: 0 auto;
      margin-top: -2px;
      overflow: hidden;
      font-size: 6rem;
      color: $red;
      text-align: center;
      white-space: nowrap;
      pointer-events: none;
      content: 'MY PORTFOLIO';
      opacity: 0;
      transition: width 0.4s cubic-bezier(0.44, 0.04, 0.89, 0.04) 0.1s,
        opacity 0.4s cubic-bezier(0.44, 0.04, 0.89, 0.04) 0.1s;
      transform: translateY(-50%);
      @include ff-gill-inline;

      @include mq-down(sm) {
        top: 0;
        margin-top: -1px;
        font-size: get_vw(30);
        transform: translateY(-50%);
      }
    }

    &::after {
      position: absolute;
      top: calc(50% - 2.5px);
      right: 5px;
      left: 0;
      z-index: 1;
      width: calc(100% - 30px);
      height: 1em;
      margin: 0 auto;
      font-size: 6rem;
      color: $red;
      pointer-events: none;
      content: '';
      background: white;
      transform: translateY(-50%);

      @include mq-down(sm) {
        top: 0;
        font-size: get_vw(30);
        transform: translateY(-50%);
      }
    }

    &__item {
      position: relative;
      width: calc(100% / 3); // ５作品以上のときは3に
      border-right: 5px solid white;
      border-bottom: 5px solid white;

      &::after {
        display: block;
        padding-top: 100%;
        content: '';
      }

      @include mq-down(sm) {
        width: calc(100% / 2);
      }
    }

    &__link {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    &__thumbnail {
      > :global(img) {
        width: 100%;
        height: auto;
        transition: transform 0.3s, filter 0.2s;
      }
    }

    &__item:hover {
      .portfolio__thumbnail > :global(img) {
        transform: scale(1.2);
      }
    }
  }
</style>
