.card {
  display: grid;
  grid-template-areas:
    'thumbnail date'
    'thumbnail title'
    'thumbnail .';
  grid-template: {
    columns: 400px 1fr;
    rows: 1fr auto;
  }
}

.title {
  position: relative;
  display: block;
  grid-area: title;
  padding: 10px 15px 0 0;
  font-size: 2rem;
  color: white;
  opacity: 0;
  transition: transform 0.2s, opacity 0.2s;
  transform: translateX(50px);

  & > h3 {
    position: relative;
    z-index: 1;
  }

  &::after {
    position: absolute;
    top: 0;
    left: -90px;
    z-index: 0;
    width: calc(100% + 90px);
    height: calc(100% + 10px);
    content: '';
    background: $black;
  }
}

.card:global(.intersected) {
  .title {
    opacity: 1;
    transform: translateX(0);
  }
}

.date {
  grid-area: date;
  align-self: flex-end;
  @include ff-gill-nova;

  font-size: 1.9rem;
}

.thumbnail {
  position: relative;
  z-index: 1;
  display: block;
  grid-area: thumbnail;
  width: 100%;
  height: auto;
  overflow: hidden;
  transform: perspective(250px) rotateY(5deg);
  transform-origin: center left;

  :global(img) {
    transition: transform 0.3s;
  }

  &:hover :global(img) {
    transform: scale(1.2);
  }

  @include mq-down(md) {
    margin-bottom: -5px;
  }
}

.title:hover {
  & + .thumbnail {
    :global(img) {
      transform: scale(1.2);
    }
  }
}

// reverseモード

.card.reverse {
  grid-template-areas:
    'date thumbnail'
    'title thumbnail'
    '. thumbnail';
  grid-template-columns: 1fr 400px;

  .date {
    padding-left: 15px;
  }

  .title {
    padding-left: 15px;
    transform: translateX(-50px);

    &::after {
      right: -90px;
      left: auto;
    }
  }

  .thumbnail {
    transform: perspective(250px) rotateY(-5deg);
    transform-origin: center right;

    @include mq-down(md) {
      margin-right: 0;
      margin-left: auto;
    }
  }
}

.card.reverse:global(.intersected) {
  .title {
    opacity: 1;
    transform: translateX(0);
  }
}

// mini-reverseモード

.card.mini-reverse {
  @extend .card, .reverse;

  grid-template-columns: 1fr 200px;

  .date {
    font-size: 1.5rem;
    color: white;
  }

  .title::after {
    background: color.adjust($red, $lightness: -15%);
  }
}
