%header-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: '';
  background: $darkgreen;
  transform: rotateZ(3deg);
  transform-origin: center center;
}

.header {
  position: relative;
  display: grid;
  grid-template-areas:
    'thumbnail date'
    'title date';

  &::after {
    @extend %header-background;
  }

  &::before {
    @extend %header-background;

    z-index: -2;
    background: $green;
    transform: rotateZ(6deg);
  }
}

.thumbnail {
  grid-area: thumbnail;
}

.date {
  grid-area: date;
  align-self: end;
  width: 5rem;
  padding-bottom: 3px;

  @include mq-down(sm) {
    width: get_vw(27);
  }

  &__text {
    display: inline-block;
    font-size: 3rem;
    color: white;
    text-align: right;
    white-space: nowrap;
    transform: translateX(-100%) rotateZ(90deg);
    transform-origin: bottom right;
    @include ff-gill-nova;

    @include mq-down(sm) {
      font-size: get_vw(16);
    }
  }
}

.title {
  grid-area: title;
  padding: 16px 32px;
  margin-top: 8px;
  font-size: 4rem;
  font-weight: bold;
  color: white;
  background: $black;

  @include mq-down(sm) {
    padding: get_vw(16);
    font-size: get_vw(20);
  }
}
