---
import TheVignette from '@/components/TheVignette.vue'
import TheHeader from '@/components/TheHeader.vue'
import 'destyle.css'
import '@/styles/typekit.css'

export interface Props {
  title: string
}

const { title } = Astro.props as Props
const currentPath = Astro.url.pathname
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body>
    <TheHeader class="the-header" currentPath={currentPath} />
    <slot />
    <TheVignette />
    <style lang="scss">
      .the-header {
        width: 1200px;
        margin-right: calc((100vw - 1200px) / 2);
        margin-left: auto;
        margin-bottom: calc(-200px + 10vw);
        position: relative;
        z-index: 10;

        @media screen and (max-width: 1199px) {
          margin-right: 0;
          margin-bottom: calc(-400px + 25vw);
          width: 100%;
        }

        @include mq-down(md) {
          margin-bottom: calc(-80px);
        }

        @include mq-down(sm) {
          margin-bottom: calc(-50px);
        }

        &.passedby {
          & + .navigation-wrapper {
            @include mq-up(sm) {
              transform: translateY(0);
            }
          }
        }
      }
    </style>
  </body>
</html>
