---
import TheFooter from '@components/TheFooter.astro'
import TheHeader from '@components/TheHeader.astro'
import TheNavigationMobile from '@components/TheNavigationMobile.astro'
import TheVignette from '@components/TheVignette.astro'
import '@styles/typekit.css'

import 'destyle.css'

export interface Props {
  title: string
}

const { title } = Astro.props as Props
const path = Astro.url.pathname
---

<script>
  import { watchIsScrolled } from '@scripts/watchIsScrolled'

  watchIsScrolled()
</script>

<title>{title}</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="preconnect" href="https://use.typekit.net" crossorigin />
<link rel="preconnect" href="https://p.typekit.net" crossorigin />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<body>
  <TheHeader class="the-header" />
  {path !== '404' && <TheNavigationMobile class="the-navigation-mobile" />}
  <div class="main">
    <slot />
  </div>
  <TheFooter class="the-footer" />
  <TheVignette />
  <style lang="scss">
    .main {
      padding-bottom: 60px;
      margin-top: -5vw;

      // @include mq-down(md) {
      //   margin-bottom: 100px;
      // }

      @include mq-down(sm) {
        margin-top: calc(220px - 45vw);
      }

      &--not-found {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
        padding: 0;
        margin: 0 !important;
      }
    }

    .the-header {
      position: relative;
      width: 1200px;
      margin-right: calc((100vw - 1200px) / 2);
      margin-bottom: calc(-200px + 10vw);
      margin-left: auto;

      @media screen and (max-width: 1199px) {
        width: 100%;
        margin-right: 0;
        margin-bottom: calc(-400px + 25vw);
      }

      @include mq-down(md) {
        margin-bottom: calc(-80px);
      }

      @include mq-down(sm) {
        margin-bottom: calc(-50px);
      }

      &.passedby {
        & + .navigation-wrapper {
          @include mq-up(sm) {
            transform: translateY(0);
          }
        }
      }
    }

    .the-navigation-mobile {
      @include mq-up(sm) {
        display: none;
      }

      position: fixed;
      top: 0;
      right: 0;
      z-index: 998;
    }

    .button-to-top {
      position: fixed;
      right: 0;
      z-index: 997;
      transition: transform 0.4s cubic-bezier(0.17, 0.92, 0.14, 0.96);
      transform: translateX(100%);

      @include mq-down(sm) {
        top: auto !important;
        right: auto;
        bottom: 10%;
        left: 0;
        transform: translateX(-100%) translateY(50%);
      }

      &--show {
        transform: translateX(0);

        @include mq-down(sm) {
          transform: translateX(0%) translateY(50%);
        }
      }
    }
  </style>
  <style lang="scss" is:global>
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @include ff-gill-nova;
    }

    html {
      font-size: 62.5%;
    }

    body {
      overflow-x: hidden;
      font-family: Avenir-Roman, Arial, '游ゴシック体', YuGothic,
        '游ゴシック Medium', 'Yu Gothic Medium', '游ゴシック', 'Yu Gothic',
        sans-serif;
      font-size: 1.6rem;
      font-weight: bold;
      font-feature-settings: 'palt' 1;
      line-height: $line-height;
      letter-spacing: 0.5px;
      overflow-wrap: break-word;
      text-size-adjust: 100%;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;

      @include mq-down(sm) {
        font-size: get_vw(15);
      }

      background: {
        image: url('/img/bg.jpg');
        color: #cbbea4;
        repeat: repeat;
      }

      // overflow-x: hidden;
    }

    // main {
    //   // border: 1px solid #fff;
    //   padding-bottom: 60px;
    // }

    .nuxt-progress {
      z-index: 1010;
    }

    .clearfix {
      clear: both;
    }

    .section {
      width: 100%;
      max-width: $pc-width;
      padding: 0 15px;
      margin: 0 auto;
    }

    .lazyload,
    .lazyloading {
      filter: blur(10px);
    }

    .lazyloaded {
      filter: blur(0);
      transition: filter 0.2s;
    }
  </style>
</body>
